@import url('reset.css');

/*
  ========================================
  General Styles
  ========================================
*/
body {
	font: 16px Arial, sans-serif;
	background: #F4F4F4;
}

.col-1-4,
.col-2-4,
.col-3-4 {
	float: left;
}
.col-1-4 { width: 25%; }
.col-2-4 { width: 50%; }
.col-3-4 { width: 75%; }

/*
  ========================================
  Header
  ========================================
*/
.main-header {
	width: 100%;
	height: 56px;
	background: #333;
}

.logo {
	width: 76px;
	height: 56px;
	margin: 0 20px 0 30px;
	text-indent: -999em;
	float: left;
	background: url("https://d13yacurqjgara.cloudfront.net/assets/logo-small-4612353cefa78dfe35ba5e8e9d35da9f9305a3a516ef9675b5c37004c5862b6d.png") no-repeat center center;
}
.logo a {
	display: block;
	width: 100%;
	height: 100%;
}

.nav li {
	display: inline-block;
}
.nav a {
	font-size: 14px;
	color: #999;
	line-height: 56px;
	padding: 0 10px;
}
.nav a:hover {
	color: #ddd;
}
.nav .active {
	color: #fff;
}

.main-nav {
	float: left;
}
.main-nav > ul > li {
	position: relative;
}
.main-nav > ul > li:hover .submenu {
	display: block;
}
.main-nav > ul > li:hover > a {
	color: #ddd;
}
.main-nav .more {
	display: block;
	text-indent: -999px;
	background: url("https://d13yacurqjgara.cloudfront.net/assets/icon-more-dots-8624bddd5cc1950979b7c8dc571cf95d0e314600a9f8e43d99a17b57877808b6.png") no-repeat center center;
	width: 40px;
	opacity: .5;
}

.submenu {
	display: none;
	z-index: 200;
	position: absolute;
	top: 56px;
	left: 0;
	width: 180px;
	margin-left: -5px;
	background: rgba(47,47,47,0.98);
	padding-bottom: 10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.submenu li {
	display: block;
}
.submenu a {
	display: block;
	line-height: 1;
	padding: 5px 10px 5px 15px;
	font-size: 13px;
}
.submenu a:hover {
	background: rgba(255,255,255,0.1);
}
.submenu .separator {
	text-indent: -999em;
	background: rgba(255,255,255,0.1);
	height: 1px;
	margin: 4px 0;
}
.submenu-stories li {
	font-style: italic;
}
.submenu-stories li:first-child {
	font-style: normal;
}


.account {
	float: right;
	margin-right: 10px;
}

.search {
	float: right;
}
.search input {
	width: 220px;
	height: 25px;
	padding: 5px 5px 5px 25px;
	border-radius: 5px;
	border: none;
	margin: 15px 30px 0 0;
	background: #fff url("https://d13yacurqjgara.cloudfront.net/assets/icon-search-7a07ad9f258fc1d8c28a29faa5627b41c2cc353d138b6bc3e987e0719584ce69.png") no-repeat 5px 5px;
}

/*
  ========================================
  Welcome
  ========================================
*/
.welcome {
	background: #444;
	width: 100%;
	padding: 30px 0;
	text-align: center;
}
.welcome p {
	display: inline-block;
	color: #999;
}
.welcome p strong {
	color: #fff;
}
.welcome .btn {
	padding: 0 12px;
	color: #fff;
	font-size: 13px;
	border-radius: 4px;
	background: #999;
	height: 38px;
	line-height: 38px;
	display: inline-block;
}
.welcome .btn-primary {
	background: #ea4c89 url("https://d13yacurqjgara.cloudfront.net/assets/button-glass-861b265bf67caff1d6e613ca1758ce443b59d676cb7fceca293a9891aef250a8.png") repeat-x 0 0;
}
.welcome .btn:hover {
	background: #888;
}
.welcome .btn-primary:hover {
	background: #df3e7b url("https://d13yacurqjgara.cloudfront.net/assets/button-glass-861b265bf67caff1d6e613ca1758ce443b59d676cb7fceca293a9891aef250a8.png") repeat-x 0 0;
}

/*
  ========================================
  Cards Filter
  ========================================
*/
.cards-filter {
	text-align: center;
	height: 50px;
	background: rgba(255,255,255,0.6);
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.dropdown > li {
	position: relative;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #444;
	padding: 0 28px 0 8px;
}
.dropdown > li:after {
	content: '';
	position: absolute;
	top: 0;
	right: 2px;
	width: 18px;
	height: 50px;
	background: url("https://d13yacurqjgara.cloudfront.net/assets/icon-dd-arrow-5cd53c3f7d2d5232122f093985affef2493f0e1b8af5cdc559180fdeff62366c.png") no-repeat center center;
}
.dropdown > li > a {
	display: block;
}
.dropdown > li:hover .submenu {
	display: block;
}
.dropdown .submenu {
	display: none;
	top: 49px;
	width: 200px;
	background: #fbfbfb;
	font-size: 13px;
	text-align: left;
	color: #999;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}
.dropdown .submenu li:hover {
	color: #444;
	background: #eee;
}

.display-opt {
	position: absolute;
	top: 10px;
	right: 30px;
}
.display-opt .trigger {
	width: 34px;
	height: 30px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
	overflow: auto;
}
.display-opt .trigger .icon {
	display: block;
	width: 16px;
	height: 16px;
	background: url("https://d13yacurqjgara.cloudfront.net/assets/icon-shot-options-e5ecd0cd64a0a2d9f4439646908f4d50994452de9c1cc8a7f65448289063f60c.png?2") no-repeat 0 0;
	margin: 7px 0 0 9px;
}
.display-opt:hover .trigger {
	background: #333;
}
.display-opt:hover .trigger .icon {
	background-position: 0 -32px;
}

.display-opt:hover .box {
	display: block;
}
.display-opt .box {
	display: none;
	z-index: 200;
	position: absolute;
	top: 25px;
	right: 0;
	width: 218px;
	background: #333;
	text-align: left;
	padding: 15px;
	border-radius: 4px;
	
}
.display-opt .box p {
	font-size: 12px;
	color: #ccc;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.display-opt .box li {
	display: inline-block;
	width: 42px;
	height: 42px;
	text-align: center;
	background: #505050;
	border-radius: 2px;
	cursor: pointer;
}
.display-opt .box li:hover,
.display-opt .box li.active {
	background: #999;
}
.display-opt .box li + li {
	margin-left: 2px;
}
.display-opt .box li svg {
	width: 42px;
	height: 42px;
}
.display-opt .box li.active svg path {
	fill: #fff;
}

/*
  ========================================
  Footer
  ========================================
*/
.main-footer {
	overflow: auto;
	padding: 30px;
	color: #999;
	font-size: 13px;
	background: #fff;
	margin-top: 50px;
	border-top: 1px solid #e5e5e5;
}

.info img {
	display: block;
	margin-bottom: 5px;
}
.info a:hover img {
	opacity: .8;
}
.info .slogan {
	display: block;
	font-size: 15px;
	margin-bottom: 10px;	
}
.info p {
	width: 72%;
}

.nav-alt li {
	line-height: 1.8;
	width: 33%;
	float: left;
}
.nav-alt li a:hover {
	color: #444;
}

.jobs h2 {
	font-size: 14px;
}
.jobs h2:hover {
	color: #444;
}
.jobs li {
	margin-top: 15px;
}
.jobs img {
	float: left;
	width: 30px;
	margin-right: 10px;
	border-radius: 100%;
}
.jobs .title {
	color: #3a8bbb;
	font-size: 14px;
}
.jobs .desc {
	font-size: 12px;
}
.jobs a:hover img,
.jobs a:hover p {
	opacity: .8;
}

.ads {
	height: 100px;
	text-align: center;
	line-height: 100px;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	background: #ddd;
	border-radius: 6px;
	border: 1px solid #ddd;
	cursor: pointer;
	transition: all .2s ease;
}
.ads:hover {
	color: #ddd;
	background: none;
}

.copyright {
	margin-top: 30px;
}
.copyright p {
	margin-bottom: 10px;
}
.copyright li {
	display: inline-block;
	margin-right: 8px;
}
.copyright li img {
	opacity: .37;
}
.copyright li img:hover {
	opacity: .72;
}

.dribbbled {
	font-size: 14px;
	padding-left: 54px;
	background: url("https://d13yacurqjgara.cloudfront.net/assets/ball-2acfbb9fdf187a34b07a7cc209d07025b39697eba6302c54942a556c10b3fa94.png") no-repeat left center;
	height: 56px;
	padding-top: 4px;
	margin-top: 30px;
}
.dribbbled strong {
	display: block;
	color: #333;
	font-weight: bold;
	font-size: 22px;
}